.company {
    grid-area: companyName;
    background-color: bisque;
}

.isActive {
    color: orangered;
    font-weight: 500;
}

.employee {
    grid-area: employeeName;
    background-color: bisque;
}

li {
    list-style-type: none;
}
