.container {
    display: grid;
    width: 900px;
    margin: 0 auto;

    grid-template-areas:
    'header header'
    'companyName employeeName';

    grid-template-rows: 50px 1fr;
    grid-template-columns: 5fr 5fr;
    grid-gap: 10px;

}





